<% layout('/layouts/boilerplate') %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Create a New Listing</h3>
            <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="Listing[title]" placeholder="Add a catchy title" class="form-control" id="title" required>
                    <div class="valid-feedback">Title Looks good!</div>
                    <div class="invalid-feedback">Please provide a title.</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="Listing[description]" class="form-control" id="description" required></textarea>
                    <div class="valid-feedback">Description Looks good!</div>
                    <div class="invalid-feedback">Please provide a description.</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image</label>
                    <input type="file" name="Listing[image]" class="form-control" id="image" required>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="Listing[price]" placeholder="1200" class="form-control" id="price" required>
                        <div class="valid-feedback">Price Looks good!</div>
                        <div class="invalid-feedback">Please provide a price.</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="Listing[country]" placeholder="India" class="form-control" id="country" required>
                        <div class="valid-feedback">Country Looks good!</div>
                        <div class="invalid-feedback">Please provide a country.</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="Listing[location]" placeholder="Hyderabad, Telangana" class="form-control" id="location" required>
                    <div class="valid-feedback">Location Looks good!</div>
                    <div class="invalid-feedback">Please provide a location.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Category</label>
                    <div class="row">
                        <div class="form-check col-md-3">
                            <input class="form-check-input" type="checkbox" name="Listing[category]" value="trending" id="trending">
                            <label class="form-check-label" for="trending">Trending</label>
                        </div>
                        <div class="form-check col-md-3">
                            <input class="form-check-input" type="checkbox" name="Listing[category]" value="rooms" id="rooms">
                            <label class="form-check-label" for="rooms">Rooms</label>
                        </div>
                        <div class="form-check col-md-3">
                            <input class="form-check-input" type="checkbox" name="Listing[category]" value="iconic-cities" id="iconic-cities">
                            <label class="form-check-label" for="iconic-cities">Iconic-Cities</label>
                        </div>
                        <div class="form-check col-md-3">
                            <input class="form-check-input" type="checkbox" name="Listing[category]" value="mountains" id="mountains">
                            <label class="form-check-label" for="mountains">Mountains</label>
                        </div>
                        <div class="form-check col-md-3">
                            <input class="form-check-input" type="checkbox" name="Listing[category]" value="beach" id="beach">
                            <label class="form-check-label" for="beach">Beach</label>
                        </div>
                        <div class="form-check col-md-3">
                            <input class="form-check-input" type="checkbox" name="Listing[category]" value="pool" id="pool">
                            <label class="form-check-label" for="pool">Pool</label>
                        </div>
                        <div class="form-check col-md-3">
                            <input class="form-check-input" type="checkbox" name="Listing[category]" value="camping" id="camping">
                            <label class="form-check-label" for="camping">Camping</label>
                        </div>
                        <div class="form-check col-md-3">
                            <input class="form-check-input" type="checkbox" name="Listing[category]" value="farms" id="farms">
                            <label class="form-check-label" for="farms">Farms</label>
                        </div>
                        <div class="form-check col-md-3">
                            <input class="form-check-input" type="checkbox" name="Listing[category]" value="arctic" id="arctic">
                            <label class="form-check-label" for="arctic">Arctic</label>
                        </div>
                    </div>
                </div>
                <button class="btn btn-dark add-btn mb-3">Add</button>
            </form>
        </div>
    </div>
</body>